@page "/TagEdit/{Id}"
@using DelegationStationShared.Models;
@using DelegationStation.Services;
@using Microsoft.Graph.Models;
@using DelegationStation.Shared;

@inject ILogger<TagEdit> logger
@inject IDeviceTagDBService deviceTagDBService
@inject IGraphService graphService
@inject IConfiguration config
@inject NavigationManager nav
@inject IRoleDBService roleDBService


@attribute [Authorize]

<h3>Tag Edit</h3>

<AuthorizeView Context="authContext">
    <Authorized>
        @if (Id == null)
        {
            <h3>Error in navigation path</h3>
        }
        else if (userRole.IsDefaultRole())
        {
            <h3>Not authorized</h3>
        }
        else if (tag != null)
        {
            <h3>@tag.Name</h3>
            <h4>@tag.Description</h4>
            <br />
            <hr />
            <label>Name:</label>
            <InputText @bind-Value=tag.Name class="form-control"></InputText>
            <label>Description:</label>
            <InputTextArea @bind-Value=tag.Description class="form-control"></InputTextArea>
            <br />
            <hr />
            <div class="container">
                <h2>Assigned Groups</h2>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Role</th>
                            <th>Security Group Name</th>
                            <th>Security Group Id</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (RoleDelegation r in tag.RoleDelegations)
                        {
                            <tr>
                                <td>@r.Role.Name</td>
                                <td>@r.SecurityGroupName</td>
                                <td>@r.SecurityGroupId</td>
                                <td><button type="button" class="btn btn-danger @(userRole.IsAdminRole() ? "" : "disabled")" @onclick=@(() => tag.RoleDelegations.Remove(r))><span class="oi oi-trash"></span> Delete</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (userRole.IsAdminRole())
            {
                <DisplayMessage Message="@addRoleMessage" />
                <EditForm Model="@roleDelegation" OnValidSubmit="AddRoleDelegation" class="form-control mb-3">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    Role:
                    <select value="@roleDelegation.Role.Id" @onchange=@((e) => UpdateRole(e)) class="form-select">
                        <option></option>
                        @foreach (Role r in roles)
                        {
                            <option value="@r.Id">@r.Name</option>
                        }
                    </select>
                    
                    @if (!string.IsNullOrEmpty(roleDelegation.SecurityGroupName))
                    {
                        <p class="mt-2 mb-2">@roleDelegation.SecurityGroupName</p>
                        <p class="mt-2 mb-2">@roleDelegation.SecurityGroupId</p>
                    }
                    else if (string.IsNullOrEmpty(roleDelegation.Role.Name))
                    {
                        <p class="mt-2 mb-2">Select a role</p>
                    }
                    else
                    {
                        <p class="mt-2 mb-2">Select a security group</p>
                    }

                    <DisplayMessage Message=@roleSecurityGroupSearchMessage />
                    <InputText class="form-control" @bind-Value=roleSecurityGroupSearchString placeholder="Search for a group"></InputText>
                    <button type="button" class="btn btn-secondary mt-2 @(roleSecurityGroupSearchInProgress ? "disabled" : "")" @onclick=@(() => RoleSearchSecurityGroups()) @onkeyup=@RoleSearchSecurityGroupsKeyUp>Search</button>
                    @if (roleSecurityGroupSearchResults.Count > 0)
                    {
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Display Name</th>
                                    <th>Description</th>
                                    <th>Object Id</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Group g in roleSecurityGroupSearchResults)
                                {
                                    <tr class="">

                                        <td class="clickable" @onclick=@(() => RoleSelectSecurityGroup(g))>@g.DisplayName</td>
                                        <td class="clickable" @onclick=@(() => RoleSelectSecurityGroup(g))>@g.Description</td>
                                        <td class="clickable" @onclick=@(() => RoleSelectSecurityGroup(g))>@g.Id</td>
                                        <td><button type="button" class="btn btn-primary" @onclick=@(() => RoleSelectSecurityGroup(g))>Select</button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else if (roleSecurityGroupSearchInProgress)
                    {
                        <p class="mt-2 mb-2">Searching...</p>
                    }
                    else if (roleSecurityGroupSearchResults.Count == 0 && roleSecurityGroupSearchExecuted)
                    {
                        <p class="mt-2 mb-2">No results found</p>
                    }
                    <br/>
                    <input type="submit" class="btn btn-primary mt-2 mb-2 @(string.IsNullOrEmpty(roleDelegation.SecurityGroupName) || string.IsNullOrEmpty(roleDelegation.Role.Name) ? "disabled" : "")" value="Add Role" />
                </EditForm>
            }

            <div class="container">
                <h2>Actions on Enrollment</h2>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Action Type</th>
                            <th>Name</th>
                            <th>Value</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DeviceUpdateAction a in tag.UpdateActions)
                        {
                            <tr class="">
                                <td>@a.ActionType</td>
                                <td>@a.Name</td>
                                <td>@a.Value</td>
                                <td><button type="button" class="btn btn-danger @(ActionAllowed(a) ? "" : "disabled")" @onclick=@(ActionAllowed(a) ? (() => tag.UpdateActions.Remove(a)) : (() => { }))><span class="oi oi-trash"></span> Delete</button></td>                                    
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            @if (!userRole.IsDefaultRole())
            {
                <DisplayMessage Message="@deviceUpdateActionsValidationMessage" />
                <EditForm EditContext="deviceUpdateActionEditContext" OnValidSubmit="AddDeviceUpdateAction" class="form-control mb-3">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    Update Action: 
                    <select value="@deviceUpdateAction.ActionType" @onchange="DeviceUpdateActionChanged" class="form-select">

                        @foreach (DeviceUpdateActionType t in Enum.GetValues(typeof(DeviceUpdateActionType)))
                        {
                            if ((t == DeviceUpdateActionType.Group && userRole.SecurityGroups) ||
                            (t == DeviceUpdateActionType.AdministrativeUnit && userRole.AdministrativeUnits) ||
                            (t == DeviceUpdateActionType.Attribute && userRole.Attributes.Count > 0))
                            {
                                <option value="@t">@t</option>
                            }
                        }
                    </select>
                    <ValidationMessage For=@(() => deviceUpdateAction.ActionType) />
                    @if (deviceUpdateAction.ActionType == DeviceUpdateActionType.Attribute)
                    {
                        <label class="form-label">Attribute name:</label>
                        <InputSelect @bind-Value=deviceUpdateAction.Name class="form-select">
                            @{
                                foreach (AllowedAttributes t in Enum.GetValues(typeof(AllowedAttributes)))
                                {
                                    if(tag.UpdateActions.Where(u => u.Name == t.ToString()).Count() > 0)
                                    {
                                        // Attribute already exists in tag
                                        continue;
                                    } else if (t == AllowedAttributes.All) {
                                        // Don't show the All attribute
                                        continue;
                                    } else if (AttributeAllowed(t)) {
                                        <option value="@t">@t</option>
                                    }
                                }
                            }
                        </InputSelect>
                        <label class="form-label">Attribute value:</label>
                        <InputText @bind-Value=deviceUpdateAction.Value class="form-control"></InputText>
                    }
                    else if (deviceUpdateAction.ActionType == DeviceUpdateActionType.AdministrativeUnit)
                    {             
                        @if (!string.IsNullOrEmpty(deviceUpdateAction.Name))
                        {
                            <p class="mt-2 mb-2">@deviceUpdateAction.Name</p>
                            <p class="mt-2 mb-2">@deviceUpdateAction.Value</p>
                        }
                        else
                        {
                            <p class="mt-2 mb-2">Select an Administrative Unit</p>
                        }

                        <DisplayMessage Message=@administrativeUnitSearchMessage />
                        <InputText class="form-control" @bind-Value=administrativeUnitSearchString placeholder="Search for an Administrative Unit"></InputText>
                        <button type="button" class="btn btn-secondary mt-2 @(administrativeUnitSearchInProgress ? "disabled" : "")" @onclick=@(() => SearchAdministrativeUnits()) @onkeyup=@SearchAdministrativeUnitsKeyUp>Search</button>
                        @if (administrativeUnitSearchResults.Count > 0)
                        {
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>Display Name</th>
                                        <th>Description</th>
                                        <th>Object Id</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (AdministrativeUnit a in administrativeUnitSearchResults)
                                    {
                                        <tr class="">

                                            <td class="clickable" @onclick=@(() => SelectAdministrativeUnit(a))>@a.DisplayName</td>
                                            <td class="clickable" @onclick=@(() => SelectAdministrativeUnit(a))>@a.Description</td>
                                            <td class="clickable" @onclick=@(() => SelectAdministrativeUnit(a))>@a.Id</td>
                                            <td><button type="button" class="btn btn-primary" @onclick=@(() => SelectAdministrativeUnit(a))>Select</button></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else if (administrativeUnitSearchInProgress)
                        {
                            <p class="mt-2 mb-2">Searching...</p>
                        }
                        else if (administrativeUnitSearchResults.Count == 0 && administrativeUnitSearchExecuted)
                        {
                            <p class="mt-2 mb-2">No results found</p>
                        }
                    }
                    else if (deviceUpdateAction.ActionType == DeviceUpdateActionType.Group)
                    {
             
                        @if (!string.IsNullOrEmpty(deviceUpdateAction.Name))
                        {
                            <p class="mt-2 mb-2">@deviceUpdateAction.Name</p> 
                            <p class="mt-2 mb-2">@deviceUpdateAction.Value</p>
                        }
                        else
                        {
                            <p class="mt-2 mb-2">Select a security group</p>
                        }

                        <DisplayMessage Message=@securityGroupSearchMessage />
                        <InputText class="form-control" @bind-Value=securityGroupSearchString placeholder="Search for a group"></InputText>
                        <button type="button" class="btn btn-secondary mt-2 @(securityGroupSearchInProgress ? "disabled" : "")" @onclick=@(() => SearchSecurityGroups()) @onkeyup=@SearchSecurityGroupsKeyUp>Search</button>
                        @if(securityGroupSearchResults.Count > 0)
                        {
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>Display Name</th>
                                        <th>Description</th>
                                        <th>Object Id</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Group g in securityGroupSearchResults)
                                    {
                                        <tr class="">

                                            <td class="clickable" @onclick=@(() => SelectSecurityGroup(g))>@g.DisplayName</td>
                                            <td class="clickable" @onclick=@(() => SelectSecurityGroup(g))>@g.Description</td>
                                            <td class="clickable" @onclick=@(() => SelectSecurityGroup(g))>@g.Id</td>
                                            <td><button type="button" class="btn btn-primary" @onclick=@(() => SelectSecurityGroup(g))>Select</button></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }                        
                        else if(securityGroupSearchInProgress)
                        {
                            <p class="mt-2 mb-2">Searching...</p>
                        }
                        else if (securityGroupSearchResults.Count == 0 && securityGroupSearchExecuted)
                        {
                            <p class="mt-2 mb-2">No results found</p>
                        }

                    }
                    <br />

                    <input type="submit" class="btn btn-primary mt-2 mb-3 @((string.IsNullOrEmpty(deviceUpdateAction.Name) && deviceUpdateAction.ActionType == DeviceUpdateActionType.Group) || (string.IsNullOrEmpty(deviceUpdateAction.Value) && deviceUpdateAction.ActionType == DeviceUpdateActionType.Attribute) || (string.IsNullOrEmpty(deviceUpdateAction.Name) && deviceUpdateAction.ActionType == DeviceUpdateActionType.AdministrativeUnit) ? "disabled" : "")" value="Add Action" />
                </EditForm>

            }

            @if (!string.IsNullOrEmpty(tagErrorMessage))
            {
                <p class="text-danger">@tagErrorMessage</p>
            }
            @if (!string.IsNullOrEmpty(tagSuccessMessage))
            {
                <p class="text-success">@tagSuccessMessage</p>
            }
            <DisplayMessage Message=@securityGroupSearchMessage />
            <button id="SaveButton" type="button" class="btn btn-success" @onclick=@(() => Save())>Save</button>
            <button id="DeleteButton" type="button" class="btn btn-danger" @onclick=@(() => ConfirmDeleteTag())>Delete</button>
        }
    </Authorized>
        
    <NotAuthorized>
        <p>Not Authorized</p>
    </NotAuthorized>
</AuthorizeView>

<ConfirmMessage ConfirmAction="@(async () => await Delete())" @ref="ConfirmDelete" />


@code {
    [CascadingParameter]
    public Task<AuthenticationState>? AuthState { get; set; }
    [Parameter] public string? Id { get; set; }

    private ConfirmMessage? ConfirmDelete;


    public List<string> pGroups
    {
        get {
            return groups;
        }
        set {
        }
    }

    private DeviceTag _tag = new DeviceTag();
    private AuthenticationState? authState;
    private List<string> groups = new List<string>();
    private List<Role> roles = new List<Role>();
    private Role userRole = (new Role()).GetDefaultRole();
    private DeviceTag tag = new DeviceTag();
    private RoleDelegation roleDelegation = new RoleDelegation();
    private DeviceUpdateAction deviceUpdateAction = new DeviceUpdateAction();
    private string defaultGroup = "";
    private string userName = "";
    private string userId = "";
    private string deviceUpdateActionsValidationMessage = "";
    private string addDeviceUpdateState = "";
    private string tagErrorMessage = "";
    private string tagSuccessMessage = "";
    private EditContext? deviceUpdateActionEditContext;
    private string userMessage = "";

    private string securityGroupSearchString = "";
    private List<Group> securityGroupSearchResults = new List<Group>();
    private string securityGroupSearchMessage = "";
    private bool securityGroupSearchInProgress = false;
    private bool securityGroupSearchExecuted = false;

    private string administrativeUnitSearchString = "";
    private List<AdministrativeUnit> administrativeUnitSearchResults = new List<AdministrativeUnit>();
    private string administrativeUnitSearchMessage = "";
    private bool administrativeUnitSearchInProgress = false;
    private bool administrativeUnitSearchExecuted = false;

    private string roleSecurityGroupSearchString = "";
    private List<Group> roleSecurityGroupSearchResults = new List<Group>();
    private string roleSecurityGroupSearchMessage = "";
    private bool roleSecurityGroupSearchInProgress = false;
    private bool roleSecurityGroupSearchExecuted = false;
    private string addRoleMessage = "";


    protected override async Task OnInitializedAsync()
    {
        deviceUpdateActionEditContext = new EditContext(deviceUpdateAction);
        deviceUpdateActionEditContext.OnFieldChanged += DeviceUpdateAction_OnFieldChanged;


        defaultGroup = config.GetSection("DefaultAdminGroupObjectId").Value ?? "";
        if (AuthState != null)
        {
            authState = await AuthState;
            userName = authState?.User.Claims.Where(c => c.Type == "name").Select(c => c.Value.ToString()).FirstOrDefault() ?? "";
            userId = authState?.User.Claims.Where(c => c.Issuer == "http://schemas.microsoft.com/identity/claims/objectidentifier").Select(c => c.Value.ToString()).FirstOrDefault() ?? "";
        }
        await GetTag();
        UpdateClaims();
        UpdateUserRole();
        await UpdateRoleDelegationGroups();
        await GetRolesAsync();
    }

    private async Task GetRolesAsync()
    {        
        try
        {
            roles = await roleDBService.GetRolesAsync();
        }
        catch (Exception ex)
        {
            logger.LogError($"Failed to get Roles.\n{ex.Message}");
        }
    }


    private void DeviceUpdateAction_OnFieldChanged(object? sender, FieldChangedEventArgs e)
    {
        deviceUpdateActionEditContext?.Validate();
        if(e.FieldIdentifier.FieldName == nameof(deviceUpdateAction.ActionType))
        {
            DeviceUpdateActionTypeChanged(deviceUpdateAction.ActionType.ToString());
        }
    }

    private void DeviceUpdateActionTypeChanged(string value)
    {
        DeviceUpdateActionType a = deviceUpdateAction.ActionType;
        deviceUpdateAction = new DeviceUpdateAction();
        deviceUpdateAction.ActionType = a;
    }

    private async Task GetTag()
    {
        try
        {
            if (Id != null)
            {
                tag = await deviceTagDBService.GetDeviceTagAsync(Id);

                if (tag != null)
                {
                    _tag = tag;
                }
            }
        }
        catch (Exception ex)
        {
            logger.LogError($"Failed to find Device Tag {Id} to Edit.\n{ex.Message}");
        }
    }

    private void UpdateUserRole()
    {
        if(string.IsNullOrEmpty(defaultGroup))
        {
            userRole = userRole.GetDefaultRole();
        }
        else if(groups.Contains(defaultGroup))
        {
            userRole = userRole.GetAdminRole();
        }
        else
        {
            userRole = userRole.GetRole(groups, tag);
        }
        StateHasChanged();
    }

    private void UpdateClaims()
    {
        groups = new List<string>();
        var roleClaims = authState?.User.Claims.Where(c => c.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role" || c.Type == "roles");
        roleClaims = roleClaims ?? new List<System.Security.Claims.Claim>();
        foreach (var c in roleClaims)
        {
            groups.Add(c.Value);
        }
    }

    private bool ActionAllowed(DeviceUpdateAction action)
    {
        if (userRole == userRole.GetDefaultRole())
        {
            return false;
        }

        if(userRole == userRole.GetAdminRole())
        {
            return true;
        }        

        if(action.ActionType == DeviceUpdateActionType.Group && userRole.SecurityGroups)
        {
            return true;
        }

        if (action.ActionType == DeviceUpdateActionType.AdministrativeUnit && userRole.AdministrativeUnits)
        {
            return true;
        }

        if((action.ActionType == DeviceUpdateActionType.Attribute && userRole.Attributes.Count() > 0))
        {
            return true;
        }

        return false;
    }

    private bool AttributeAllowed(AllowedAttributes e)
    {
        if ((userRole.Attributes.Where(a => a.ToString() == e.ToString()).Count() > 0) ||
            (userRole.Attributes.Where(a => a == AllowedAttributes.All).Count() > 0))
        {
            return true;
        }
        return false;
    }

    private async Task GetRoleDelegationName(EventArgs? e)
    {
        if(string.IsNullOrEmpty(roleDelegation.SecurityGroupId))
        {
            return;
        }

        if (!System.Text.RegularExpressions.Regex.Match(roleDelegation.SecurityGroupId, "^([0-9A-Fa-f]{8}[-]?[0-9A-Fa-f]{4}[-]?[0-9A-Fa-f]{4}[-]?[0-9A-Fa-f]{4}[-]?[0-9A-Fa-f]{12})$").Success)
        {
            return;
        }

        try
        {
            string name = await graphService.GetSecurityGroupName(roleDelegation.SecurityGroupId);
            roleDelegation.SecurityGroupName = name;
        }
        catch (Exception ex)
        {
            deviceUpdateActionsValidationMessage = $"Failed to get Security Group Name for {roleDelegation.SecurityGroupId}.\n{ex.Message}";
            logger.LogWarning(deviceUpdateActionsValidationMessage);
            return;
        }
    }

    private async Task GetActionSecurityGroupName(EventArgs? e)
    {
        Guid g = Guid.NewGuid();
        if (string.IsNullOrEmpty(deviceUpdateAction.Value))
        {
            return;
        }

        if (!System.Text.RegularExpressions.Regex.Match(deviceUpdateAction.Value, "^([0-9A-Fa-f]{8}[-]?[0-9A-Fa-f]{4}[-]?[0-9A-Fa-f]{4}[-]?[0-9A-Fa-f]{4}[-]?[0-9A-Fa-f]{12})$").Success)
        {
            return;
        }

        try
        {
            string name = await graphService.GetSecurityGroupName(deviceUpdateAction.Value);
            deviceUpdateAction.Name = name;
        }
        catch (Exception ex)
        {
            tagSuccessMessage = "";
            tagErrorMessage = $"Failed to get Security Group Name for {deviceUpdateAction.Value}.\nCorrelation ID: {g.ToString()}\nTime: {DateTime.UtcNow.ToString()} ";
            deviceUpdateActionsValidationMessage = $"Failed to get Security Group Name for {deviceUpdateAction.Value}.\n{ex.Message}\nCorrelation ID: {g.ToString()}\nTime: {DateTime.UtcNow.ToString()}";
            logger.LogWarning(deviceUpdateActionsValidationMessage);
            return;
        }
    }

    private void AddRoleDelegation()
    {
        addRoleMessage = "";
        if (userRole.IsAdminRole() == false)
        {
            addRoleMessage = $"Error: '{userName}' {userId} attempted to update Tag '{tag.Name}' {tag.Id} without Admin rights";
            logger.LogWarning(deviceUpdateActionsValidationMessage);
            return;
        } 

        if (string.IsNullOrEmpty(roleDelegation.SecurityGroupId))
        {
            addRoleMessage = $"Error: Security Group ID is required";
            return;
        }

        if (string.IsNullOrEmpty(roleDelegation.SecurityGroupName))
        {
            addRoleMessage = $"Error: Security Group Name is required";
            return;
        }

        if (roleDelegation.Role.Name == "")
        {
            addRoleMessage = $"Error: Role is required";
            return;
        }

        if (tag.RoleDelegations.Where(r => r.SecurityGroupId == roleDelegation.SecurityGroupId).Count() != 0 && tag.RoleDelegations.Where(r => r.Role.Id == roleDelegation.Role.Id).Count() != 0)
        {
            addRoleMessage = $"Error: Security Group '{roleDelegation.SecurityGroupName}' is already added as '{roleDelegation.Role.Name}'";
            return;
        }

        try
        {
            tag.RoleDelegations.Add(roleDelegation);
            roleDelegation = new RoleDelegation();
        }
        catch (Exception ex)
        {
            addRoleMessage = $"Failed to get Security Group Name for {roleDelegation.SecurityGroupId}.\n{ex.Message}";
            logger.LogWarning(addRoleMessage);
            return;
        }
    }

    private async void AddDeviceUpdateAction(EditContext editContext)
    {
        deviceUpdateActionsValidationMessage = "";
        addDeviceUpdateState = "disabled";
        deviceUpdateAction.Name = deviceUpdateAction.Name.Trim();
        deviceUpdateAction.Value = deviceUpdateAction.Value.Trim();

        if (userRole.IsAdminRole() == false)
        {
            deviceUpdateActionsValidationMessage = $"'{userName}' {userId} attempted to update Tag '{tag.Name}' {tag.Id} without Admin rights";
            logger.LogWarning(deviceUpdateActionsValidationMessage);
            addDeviceUpdateState = "";
            return;
        }

        if (deviceUpdateAction.ActionType == DeviceUpdateActionType.Group && !System.Text.RegularExpressions.Regex.Match(deviceUpdateAction.Value, "^([0-9A-Fa-f]{8}[-]?[0-9A-Fa-f]{4}[-]?[0-9A-Fa-f]{4}[-]?[0-9A-Fa-f]{4}[-]?[0-9A-Fa-f]{12})$").Success)
        {
            deviceUpdateActionsValidationMessage = $"When using a group update action value must be a valid GUID";
            addDeviceUpdateState = "";
            return;
        }

        if (deviceUpdateAction.ActionType == DeviceUpdateActionType.Group)
        {
            try
            {
                if (string.IsNullOrEmpty(deviceUpdateAction.Name))
                {
                    deviceUpdateAction.Name = await graphService.GetSecurityGroupName(deviceUpdateAction.Value);
                    deviceUpdateActionsValidationMessage = $"Failed to find group id {deviceUpdateAction.Value}";
                    addDeviceUpdateState = "";
                    return;
                }
            }
            catch (Exception ex)
            {
                Guid g = Guid.NewGuid();
                deviceUpdateActionsValidationMessage = $"Failed to find group id {deviceUpdateAction.Value}\nCorrelation Id: {g.ToString()}";
                logger.LogError($"Failed to find group id {deviceUpdateAction.Value} when adding to Tag {tag.Id}.\nCorrelation Id: {g.ToString()}\n{ex.Message}");
                addDeviceUpdateState = "";
                return;
            }
        }

        if(deviceUpdateAction.ActionType == DeviceUpdateActionType.AdministrativeUnit)
        {
            if(string.IsNullOrEmpty(deviceUpdateAction.Name))
            {
                deviceUpdateActionsValidationMessage = $"Administrative Unit Name is required";
                addDeviceUpdateState = "";
                return;
            }

            if (string.IsNullOrEmpty(deviceUpdateAction.Value))
            {
                deviceUpdateActionsValidationMessage = $"Administrative Unit Id is required";
                addDeviceUpdateState = "";
                return;
            }
        }


        deviceUpdateActionsValidationMessage = "";
        if(tag.UpdateActions.Where(u => u.ActionType == deviceUpdateAction.ActionType && u.Name == deviceUpdateAction.Name).Count() > 0)
        {
            deviceUpdateActionsValidationMessage = $"Duplicate update action {deviceUpdateAction.ActionType} {deviceUpdateAction.Value}";
            addDeviceUpdateState = "";
            return;
        }
        tag.UpdateActions.Add(deviceUpdateAction);
        deviceUpdateAction = new DeviceUpdateAction();        
        addDeviceUpdateState = "";
    }

    private async Task Save()
    {
        Guid g = Guid.NewGuid();

        // If the user is default
        if (userRole.IsDefaultRole())
        {
            tag = _tag;
            tagSuccessMessage = "";
            tagErrorMessage = $"Error: '{userName}' {userId} is not an admin for Tag {tag.Id}. Correlation Id:{g.ToString()}";
            logger.LogWarning($"Error: '{userName}' {userId} attempted to save Tag '{tag.Name}' {tag.Id} without Admin rights");
            return;
        }

        // Update everything if user is an admin
        if (userRole.IsAdminRole())
        {
            try
            {
                _tag = tag;
                await deviceTagDBService.AddOrUpdateDeviceTagAsync(_tag);                
                tagSuccessMessage = $"Success: Saved tag. Correlation Id:{g.ToString()}";
                tagErrorMessage = "";
                logger.LogInformation($"Success: '{userName}' {userId} saved Tag '{tag.Name}' {tag.Id}.\nCorrelation Id:{g.ToString()}");
            }
            catch(Exception ex)
            {
                tagSuccessMessage = "";
                tagErrorMessage = $"Error: '{userName}' {userId} unable to save Tag {tag.Id}. Correlation Id:{g.ToString()}";
                logger.LogError($"Error: '{userName}' {userId} unable to save Tag {tag.Id}.\n{ex.Message}");
            }
            tag = _tag;
            return;
        }

        // Parse the user role to identify the activities they can perform
        // No updates to _tag delegation

        // User can update Attributes
        if (userRole.Attributes.Count > 0)
        {
            foreach (var attribute in userRole.Attributes)
            {
                if (tag.UpdateActions.Where(a => a.Name == attribute.ToString()).Count() > 0)
                {
                    _tag.UpdateActions.Where(a => a.Name == attribute.ToString()).First().Value = tag.UpdateActions.Where(a => a.Name == attribute.ToString()).First().Value;
                }
            }
        }

        // User can update Groups
        if (userRole.SecurityGroups)
        {
            _tag.UpdateActions.RemoveAll(a => a.ActionType == DeviceUpdateActionType.Group);
            _tag.UpdateActions.AddRange(tag.UpdateActions.Where(a => a.ActionType == DeviceUpdateActionType.Group));
        }

        // User can update Administrative Units
        if (userRole.AdministrativeUnits)
        {
            _tag.UpdateActions.RemoveAll(a => a.ActionType == DeviceUpdateActionType.AdministrativeUnit);
            _tag.UpdateActions.AddRange(tag.UpdateActions.Where(a => a.ActionType == DeviceUpdateActionType.AdministrativeUnit));
        }

        try
        {
            await deviceTagDBService.AddOrUpdateDeviceTagAsync(_tag);
            tagSuccessMessage = $"Success: Saved tag. Correlation Id:{g.ToString()}";
            tagErrorMessage = "";
            logger.LogInformation($"Success: '{userName}' {userId} saved Tag '{tag.Name}' {tag.Id}.\nCorrelation Id:{g.ToString()}");
            tag = _tag;
        }
        catch (Exception ex)
        {
            tagSuccessMessage = "";
            tagErrorMessage = $"Error: '{userName}' {userId} unable to save Tag {tag.Id}. Correlation Id:{g.ToString()}";
            logger.LogError($"Error: '{userName}' {userId} unable to save Tag {tag.Id}.\n{ex.Message}");
        }
    }

    private async Task Delete()
    {
        if (userRole.IsAdminRole())
        {
            try
            {
                await deviceTagDBService.DeleteDeviceTagAsync(tag);
                nav.NavigateTo("/Tags");
            }
            catch (Exception ex)
            {
                logger.LogError($"Error: Unable to delete Tag {tag.Id}.\n{ex.Message}");
            }
        }
        else
        {
            logger.LogWarning($"Error: '{userName}' {userId} attempted to save Tag '{tag.Name}' {tag.Id}");
        }
    }

    private async Task GetGroupForNewUpdateAction(KeyboardEventArgs e)
    {
        Guid g = Guid.NewGuid();
        deviceUpdateAction.Name = "Querying for name";
        StateHasChanged();
        try
        {
            if (deviceUpdateAction.ActionType == DeviceUpdateActionType.Group && System.Text.RegularExpressions.Regex.Match(deviceUpdateAction.Value.Trim(), "^([0-9A-Fa-f]{8}[-]?[0-9A-Fa-f]{4}[-]?[0-9A-Fa-f]{4}[-]?[0-9A-Fa-f]{4}[-]?[0-9A-Fa-f]{12})$").Success)
            {
                deviceUpdateAction.Name = await graphService.GetSecurityGroupName(deviceUpdateAction.Value);
            }
            else
            {
                deviceUpdateAction.Name = "Not valid security group Id";
            }
            return;
        }
        catch(Exception ex)
        {
            tagSuccessMessage = "";
            tagErrorMessage = $"Unable to get group name. Correlation Id:{g.ToString()}";
            logger.LogError($"Unable to get groups for update actions.\n{ex.Message}\nCorrelation Id:{g.ToString()}");
        }
        deviceUpdateAction.Name = "";
    }

    private async Task UpdateRoleDelegationGroups()
    {
        foreach(RoleDelegation r in tag.RoleDelegations)
        {
            try
            {
                if (System.Text.RegularExpressions.Regex.Match(r.SecurityGroupId, "^([0-9A-Fa-f]{8}[-]?[0-9A-Fa-f]{4}[-]?[0-9A-Fa-f]{4}[-]?[0-9A-Fa-f]{4}[-]?[0-9A-Fa-f]{12})$").Success)
                {
                    r.SecurityGroupName = await graphService.GetSecurityGroupName(r.SecurityGroupId);
                }
            }
            catch (Exception ex)
            {
                logger.LogError($"Unable to get group {r.SecurityGroupId} for RoleDelegation {r.Id} under Tag {tag.Id}.\n{ex.Message}");
            }
        }
    }

    private async Task UpdateUpdateActionGroups()
    {
        foreach (DeviceUpdateAction action in tag.UpdateActions)
        {
            try
            {
                if (System.Text.RegularExpressions.Regex.Match(action.Value, "^([0-9A-Fa-f]{8}[-]?[0-9A-Fa-f]{4}[-]?[0-9A-Fa-f]{4}[-]?[0-9A-Fa-f]{4}[-]?[0-9A-Fa-f]{12})$").Success)
                {
                    action.Name = await graphService.GetSecurityGroupName(action.Value);
                }
            }
            catch (Exception ex)
            {
                logger.LogError($"Unable to get group {action.Value} for UpdateAction {action.Id} under Tag {tag.Id}.\n{ex.Message}");
            }
        }
    }

    private void UpdateRole(ChangeEventArgs e)
    {
        var value = ((ChangeEventArgs)e).Value?.ToString();
        if(!string.IsNullOrEmpty(value))
        {
            Role? r = roles.Where(r => r.Id == Guid.Parse(value)).FirstOrDefault();
            if(r != null)
            {
                roleDelegation.Role = r;
            }
        }
    }

    private void DeviceUpdateActionChanged(ChangeEventArgs e)
    {


        try
        {
            if (e.Value == null)
            {
                return;
            }
            #pragma warning disable CS8604 // Possible null reference argument. Handled in line 880-883 with null check
            deviceUpdateAction.ActionType = (DeviceUpdateActionType)Enum.Parse(typeof(DeviceUpdateActionType), e.Value.ToString());
        }
        catch(Exception ex)
        {
            deviceUpdateAction.ActionType = DeviceUpdateActionType.Attribute;
            logger.LogError($"Error: Unable to parse DeviceUpdateActionType {e.ToString()}.\n{ex.Message}");
        }
        deviceUpdateAction.Name = "";
        deviceUpdateAction.Value = "";
    }

    private void SelectSecurityGroup(Group g)
    {
        deviceUpdateAction.Name = g.DisplayName ?? "";
        deviceUpdateAction.Value = g.Id ?? "";
    }

    private async void SearchSecurityGroups()
    {
        if(securityGroupSearchInProgress)
        {
            return;
        }
        securityGroupSearchInProgress = true;
        securityGroupSearchExecuted = true;
        Guid c = Guid.NewGuid();
        StateHasChanged();


        if (string.IsNullOrEmpty(securityGroupSearchString))
        {
            securityGroupSearchMessage = "Error: Search string is empty";
            return;
        }

        try
        {
            securityGroupSearchResults = await graphService.SearchGroupAsync(securityGroupSearchString);
        }
        catch (Exception ex)
        {
            securityGroupSearchMessage = $"Error: Unable to search for groups. Correlation Id:{c.ToString()}";

            logger.LogError($"Unable to search for groups.\n{ex.Message}\nCorrelation Id: {c.ToString()}");
        }
        finally
        {
            securityGroupSearchInProgress = false;
            StateHasChanged();
        }    
    }

    private void SearchSecurityGroupsKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            SearchSecurityGroups();
        }
    }

    private void SelectAdministrativeUnit(AdministrativeUnit a)
    {
        deviceUpdateAction.Name = a.DisplayName ?? "";
        deviceUpdateAction.Value = a.Id ?? "";
    }

    private async void SearchAdministrativeUnits()
    {
        if (administrativeUnitSearchInProgress)
        {
            return;
        }
        administrativeUnitSearchInProgress = true;
        administrativeUnitSearchExecuted = true;
        Guid c = Guid.NewGuid();
        StateHasChanged();


        if (string.IsNullOrEmpty(administrativeUnitSearchString))
        {
            administrativeUnitSearchMessage = "Error: Search string is empty";
            return;
        }

        try
        {
            administrativeUnitSearchResults = await graphService.SearchAdministrativeUnitAsync(administrativeUnitSearchString);
        }
        catch (Exception ex)
        {
            administrativeUnitSearchMessage = $"Error: Unable to search for groups. Correlation Id:{c.ToString()}";

            logger.LogError($"Unable to search for groups.\n{ex.Message}\nCorrelation Id: {c.ToString()}");
        }
        finally
        {
            administrativeUnitSearchInProgress = false;
            StateHasChanged();
        }
    }

    private void SearchAdministrativeUnitsKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            SearchAdministrativeUnits();
        }
    }

    private async void RoleSearchSecurityGroups()
    {
        if (roleSecurityGroupSearchInProgress)
        {
            return;
        }
        roleSecurityGroupSearchInProgress = true;
        roleSecurityGroupSearchExecuted = true;
        Guid c = Guid.NewGuid();
        StateHasChanged();


        if (string.IsNullOrEmpty(roleSecurityGroupSearchString))
        {
            roleSecurityGroupSearchMessage = "Error: Search string is empty";
            roleSecurityGroupSearchInProgress = false;
            return;
        }

        try
        {
            roleSecurityGroupSearchResults = await graphService.SearchGroupAsync(roleSecurityGroupSearchString);
        }
        catch (Exception ex)
        {
            roleSecurityGroupSearchMessage = $"Error: Unable to search for groups. Correlation Id:{c.ToString()}";

            logger.LogError($"Unable to search for groups.\n{ex.Message}\nCorrelation Id: {c.ToString()}");
        }
        finally
        {
            roleSecurityGroupSearchInProgress = false;
            StateHasChanged();
        }
    }

    private void RoleSearchSecurityGroupsKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            RoleSearchSecurityGroups();
        }
    }

    private void RoleSelectSecurityGroup(Group g)
    {
        roleDelegation.SecurityGroupName = g.DisplayName ?? "";
        roleDelegation.SecurityGroupId = g.Id ?? "";
    }

    private void ConfirmDeleteTag()
    {
        ConfirmDelete?.Show();
    }
}
